.avatar {
	background: linear-gradient(to top, $yellow-dark, $yellow);
	background-image: url(/assets/img/avatar-bground.png);
	background-repeat: none;
	background-position: bottom center;
	background-size: cover;
	position: relative;
	min-height: 480px;

	img {
		position: absolute;
		bottom: 5%;
	    left: 7%;
	    // z-index: 10;
	    max-height: 920px;
	    width: auto;
	    height: 200%;
	}


}

@media #{$xlarge} {
	.avatar {
		img {
		    max-height: 850px;
		}
	}
}

@media #{$medium} {
	.avatar {
		display: none;
	}
}