.avatar {
	background: linear-gradient(to top, $yellow-dark, $yellow);
	background-image: url(/assets/img/avatar-bground.png);
	background-repeat: none;
	background-position: bottom center;
	background-size: cover;
}