* {	
	box-sizing: border-box;
	outline: none;
}

html {
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

body {
	overflow-y: scroll;
}

#page {
	background: $white;
}