.footer {
	min-height: 48px;
	margin: 48px;
	position: relative;

	p {
		display: inline-block;
		@include line-height(48px);
		margin: 0;
	}
}

.footer__social {
	float: right;
	li {
		list-style: none;
		float: left;
		margin-left: 10px;
	}

	a {
		display: block;
		width: 48px;
		height: 48px;
		background: $grey;
		transition: background $easing $duration;

		&:hover {
			background: darken($grey, 20%);
			transition: background $easing $duration;
		}
	}

	svg {
		width: 24px;
		height: 24px;
	}
}

@media #{$medium} {
	.footer {
		display: flex;
		flex-direction: column;
		margin: 20px 10px;

		p {
			text-align: center;
			order: 3;
		}

		.button--up {
			position: static;
			margin: 0 auto 40px auto;
			order: 1;
		}
	}

	.footer__social {
		padding: 0;
		float: none;
		margin: 0 auto;
		order: 2;
	}
}