.gallery {
	background: $grey;
	position: relative;
	display: block;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
	// height: 600px;

	&:hover {
		.gallery__img {
			transition: all $easing $duration*2;
			width: 106%;
			transform: translateY(-3%) translateX(-3%);
			height: auto;
		}
	}
}

.gallery__img {
	transition: all $easing $duration;
	transform: translateY(0) translateX(0);
	width: 100%;
	height: auto;
}

.gallery__zoom {
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 10;

	fill: $white;
	width: 30px;
	height: 30px;
}

.gallery__title {
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 10;

	color: $white;
	@include line-height(18px);
	@include font-size(18px);
	text-shadow: 1px 1px 1px $fontcolor;
}