.grid__sizer {
    width: 50%;	
	float: left;
    height: 1px;
}

.grid__item {
	width: 50%;
	min-height: 480px;
	box-sizing: border-box;
}

.grid__about {
	background: $white;
	min-height: 680px;
	padding: 40px;
}

.grid__gallery {
	background: linear-gradient(to top, #CCC, #EEE);
}

@media #{$small} {
	.grid__sizer,
	.grid__item {
		width: 100%;
	}
}