@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:300,700';

body {
	font-size: $rem-base;
	font-family: $font-stack;
	line-height: $line-height;
	color: $fontcolor;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-stack-title;
	@include font-size(36px);
}

ul {
	margin: 0;
}

.grid__about {
	p {
		max-width: 460px;
		margin: 0 auto 18px auto;
	}
}